<div class="tab-content" id="v-pills-tabContent">
  <!-- configuration tab -->
  <div class="tab-pane fade show active" id="v-pills-Configurations" role="tabpanel"
    aria-labelledby="v-pills-Configurations-tab" tabindex="0">
    <div class="row mx-0 p-3 p-lg-4">
      <div class="col-sm-12 mb-4">
        <h5 class="fw-semibold"> Configurations </h5>
        <div class="alert alert-warning d-flex align-items-start rounded-0 border-0 p-2 mb-4" role="alert">
          <img src="./assets/images/bulb.svg" class="me-2" alt="bilb">
          <div class="text-grey-4">
            Manage and adjust application settings to tailor functionality and optimize user experience according to your preferences.
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-lg-6 col-xxl-3 my-4">
            <a routerLink="channel" class="text-decoration-none">
              <div class="d-flex align-items-start">
                <div class="icon-box-voilet-dark p-2 p-xxl-3 position-relative rounded-3">
                  <img src="./assets/images/channel.png" alt="Channel">
                </div>
                <div class="ms-xxl-3 ms-3 mt-xxl-0">
                  <h6 class="text-grey-3 mb-1 fw-semibold">Channel</h6>
                  <p class="text-grey-4 fw-normal my-0">Email, FTP, thick client, and an autopilot bot for task
                    automation.</p>
                </div>
              </div>
            </a>
          </div>
          <div class="col-sm-12 col-lg-6 col-xxl-3 my-4">
            <a routerLink="ocr-projects" class="text-decoration-none">
              <div class="d-flex align-items-start">
                <div class="icon-box-primary p-2 p-xxl-3 position-relative rounded-3">
                  <img width="29" src="./assets/images/ocr-project.svg" alt="OCR Project">
                </div>
                <div class="ms-xxl-3 ms-3 mt-xxl-0">
                  <h6 class="text-grey-3 mb-1 fw-semibold">OCR Projects</h6>
                  <p class="text-grey-4 fw-normal my-0">
                    Tailoring optical character recognition settings for
                    optimal document analysis
                  </p>
                </div>
              </div>
            </a>
          </div>

          <div class="col-sm-12 col-lg-6 col-xxl-3 my-4">
            <a routerLink="email-templates" class="text-decoration-none">
              <div class="d-flex align-items-start">
                <div class="icon-box-success p-2 p-xxl-3 position-relative rounded-3">
                  <img src="./assets/images/email-template.png" alt="Email Templates">
                </div>
                <div class="ms-xxl-3 ms-3 mt-xxl-0">
                  <h6 class="text-grey-3 mb-1 fw-semibold">Email Templates</h6>
                  <p class="text-grey-4 fw-normal my-0">Crafting pre-designed emails for streamlined and
                    consistent.</p>
                </div>
              </div>
            </a>
          </div>

          <div class="col-sm-12 col-lg-6 col-xxl-3 my-4">
            <a routerLink="metadata-mapping" class="text-decoration-none">
              <div class="d-flex align-items-start">
                <div class="icon-box-voilet p-2 p-xxl-3 position-relative rounded-3">
                  <img width="29" src="./assets/images/ocr-mapping.png" alt="Metadata Mapping">
                </div>
                <div class="ms-xxl-3 ms-3 mt-xxl-0">
                  <h6 class="text-grey-3 mb-1 fw-semibold">Metadata Mapping</h6>
                  <p class="text-grey-4 fw-normal my-0">
                    Defining data extraction areas to utilize information
                    effectively.
                  </p>
                </div>
              </div>
            </a>
          </div>

          <div class="col-sm-12 col-lg-6 col-xxl-3 my-4">
            <a routerLink="docid-range" class="text-decoration-none">
              <div class="d-flex align-items-start">
                <div class="icon-box-primary p-2 p-xxl-3 position-relative rounded-3">
                  <img src="./assets/images/doc-id-range.svg" alt="others">
                </div>
                <div class="ms-xxl-3 ms-3 mt-xxl-0">
                  <h6 class="text-grey-3 mb-1 fw-semibold">DocId Range</h6>
                  <p class="text-grey-4 fw-normal my-0">Lorem ipsum dolor sit amet consectetur. Quam
                    pellentesque hac.</p>
                </div>
              </div>
            </a>
          </div>

          <div class="col-sm-12 col-lg-6 col-xxl-3 my-4">
            <a routerLink="email-classification" class="text-decoration-none">
              <div class="d-flex align-items-start">
                <div class="icon-box-voilet-dark p-2 p-xxl-3 position-relative rounded-3">
                  <img src="./assets/images/email-classification.svg" alt="others">
                </div>
                <div class="ms-xxl-3 ms-3 mt-xxl-0">
                  <h6 class="text-grey-3 mb-1 fw-semibold">Email Classification Config</h6>
                  <p class="text-grey-4 fw-normal my-0">Allows administrators to define and manage email classification categories.</p>
                </div>
              </div>
            </a>
          </div>

          <div class="col-sm-12 col-lg-6 col-xxl-3 my-4">
            <a routerLink="xinvoice-mapping" class="text-decoration-none">
              <div class="d-flex align-items-start">
                <div class="icon-box-success p-2 p-xxl-3 position-relative rounded-3">
                  <img width="29" src="./assets/images/ocr-mapping.png" alt="XInvoice Mapping">
                </div>
                <div class="ms-xxl-3 ms-3 mt-xxl-0">
                  <h6 class="text-grey-3 mb-1 fw-semibold">XInvoice Mapping</h6>
                  <p class="text-grey-4 fw-normal my-0">Configure XML-to-field mappings for XInvoice parsing with precedence support.</p>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /configuration tab -->
</div>
