
<div class="pb-5" style="height: calc(100% - 50px);">
  <div class="d-flex pt-0 pe-0 border-bottom align-items-start justify-content-between">
    <div class="text-grey-3 d-flex align-items-center gap-2 py-3 ps-3">
      <!-- <div class="icon-box icon-box-primary rounded-3 p-2 p-xxl-2 position-relative"></div>  -->
      <span style="font-weight: 800; font-size: large;"> Execution Logs</span>
     
    </div>
    <button type="button" class="btn btn-cls" mat-dialog-close aria-label="Close"><img src="./assets/images/x.svg"
        alt=""></button>
  </div>
  <div>
  
  <div class="table-responsive mt-4 px-3" *ngIf=" !initialLoader">
      <table class="table user-management" mat-table matSort (matSortChange)="sortChange($event)"
        matSortDirection="desc"
        matSortActive="dateTime"
        [dataSource]="executionLogs">

        <!-- <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Id </th>
          <td mat-cell *matCellDef="let element">
            <p class="text-grey-4 my-0 table-title">{{element?.id}}
            </p>
          </td>
        </ng-container>

        <ng-container matColumnDef="jobDetailsId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Job Details Id</th>
          <td mat-cell *matCellDef="let element">
            <p class="fw-normal  my-0 table-id">{{element.jobDetailsId}}</p>
          </td>
        </ng-container> -->

        <ng-container matColumnDef="projectId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Project Id</th>
          <td mat-cell *matCellDef="let element">
            <p class="fw-normal  my-0 table-id">{{getProJectName(element.projectId)}}</p>
          </td>
        </ng-container>

        <ng-container matColumnDef="txId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>tx Id</th>
          <td mat-cell *matCellDef="let element">
            <p class="fw-normal  my-0 table-id">{{element.txId}}</p>
          </td>
        </ng-container>

        <ng-container matColumnDef="requestId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Request Id</th>
          <td mat-cell *matCellDef="let element">
            <p class="fw-normal  my-0 table-id">{{element.requestId}}</p>
          </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
          <td mat-cell *matCellDef="let element">
            <span *ngIf="element.status === 'SUCCESS'" class="icon-box icon-box-success p-2" style="border-radius: 4px;">SUCCESS</span>
            <span *ngIf="element.status !== 'SUCCESS'" class="icon-box icon-box-danger p-2" style="border-radius: 4px;">FAILED</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="startDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Start At</th>
          <td mat-cell *matCellDef="let element">
            <span class="text-truncate">{{element.startDate | date:'MM-dd-yyyy hh:mm:ss.SSS a'}}</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="endDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>End At</th>
          <td mat-cell *matCellDef="let element">
            <span class="text-truncate">{{element.endDate | date:'MM-dd-yyyy hh:mm:ss.SSS a'}}</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="stage">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Stage</th>
          <td mat-cell *matCellDef="let element">
            <span class="fw-normal  my-0 table-id">{{element.stage}}</span>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <!-- <div *ngIf="!initialLoader">
        <mat-paginator (page)="onPageChange($event)" [length]='totalElements' [pageIndex]="pageInd"
          [pageSize]="queryParams.limit" [pageSizeOptions]="[5, 10, 20, 50, 100]" aria-label="Select page">
        </mat-paginator>
      </div> -->
    </div>

    <div class="center d-flex flex-column align-items-center mt-5" *ngIf="!executionLogs?.length && !initialLoader">
      No records found !
    </div>
    <div class="center h-100 mt-5" *ngIf="initialLoader">
      <app-page-loader class="v-center"></app-page-loader>
    </div>
<div>
</div>
     
