<div>
  <div class="d-flex pt-0 pe-0 border-bottom align-items-start justify-content-between fixed-header">
    <div class="text-grey-3 fw-medium d-flex align-items-center gap-2 py-3 ps-3">
      <div class="icon-box icon-box-primary rounded-3 p-2 p-xxl-2 position-relative">
        <img src="./assets/images/role-details.png" alt="role">
      </div> {{systemConfig.enable ? 'S1 Response'  :  'SOCR Response'}}
    </div>
    <button type="button" class="btn btn-cls" mat-dialog-close aria-label="Close">
      <img src="./assets/images/x.svg"
        alt="">
      </button>
  </div>
  <div class="px-4 py-3">
    <pre>{{s1Response | xml}}</pre>
    <!-- <pre *ngIf="data.xmlInvoice">{{xml | xml}}</pre> -->
  </div>
</div>