<!-- Add New Role (offcanvas)-->
<div class="pb-5" style="height: calc(100% - 50px);">
    <div class="d-flex pt-0 pe-0 border-bottom align-items-start justify-content-between">
      <div class="text-grey-3 fw-medium d-flex align-items-center gap-2 py-3 ps-3">
        <div class="icon-box icon-box-primary rounded-3 p-2 p-xxl-2 position-relative">
          <img src="./assets/images/role-details.png" alt="role">
        </div> Logical System
      </div>
      <button type="button" class="btn btn-cls" mat-dialog-close aria-label="Close"><img src="./assets/images/x.svg"
          alt=""></button>
    </div>
    <div class="px-4 py-3" style="height: calc(100% - 25px);overflow-y: auto;">
      <!-- form -->
      <form #appF="ngForm">
        <div class="row g-2 w-100">
          <div class="col-md-12">
            <label for="FirstName" class="form-label required">System Id</label>
            <input type="text" class="form-control" name="systemId" [(ngModel)]="logicalSystemModel.systemId" />
          </div>
          <div class="col-md-12">
            <label for="LastName" class="form-label">Description</label>
            <input type="text" class="form-control" name="description" [(ngModel)]="logicalSystemModel.description">
          </div>
          <div class="col-md-12">
            <label for="LastName" class="form-label">User Name</label>
            <input type="text" class="form-control" name="userName" [(ngModel)]="logicalSystemModel.username" />
          </div>
          <div class="col-md-12">
            <label for="clientSecret" class="form-label">Password</label>
            <input type="email" class="form-control" name="password" [(ngModel)]="logicalSystemModel.password" />
          </div>
          <div class="col-md-12">
            <label for="tenantId" class="form-label">System Type</label>
            <input type="text" class="form-control" name="systemType" [(ngModel)]="logicalSystemModel.systemType" />
          </div>
          <div class="col-md-12">
            <label for="tenantId" class="form-label">DocId Logic Type</label>
            <div class="dropdown-border w-100">
              <p-dropdown [(ngModel)]="logicalSystemModel.docIdLogicType"
                name="metaProfile" [options]="docIdLogicTypeList" placeholder="Select DocId Logic Type"
                optionDisabled="inactive"></p-dropdown>
            </div>
          </div>

        </div>
      </form>
      <!-- form -->
    </div>
    <div class="offcanvas-footer position-absolute bottom-0 bg-light px-3 py-2 w-100">
      <div>
        <div class="d-flex align-items-center gap-1" style="float: right;">
          <button type="button" class="btn btn-light px-3 me-2" mat-dialog-close>Cancel</button>
          <button type="button" class="btn btn-info px-5" [disabled]="appF.invalid"
            (click)="saveApplication()" [disabled]="!logicalSystemModel.systemId">Save</button>
        </div>
      </div>
    </div>
  </div>
  <!-- /Add New Role (offcanvas)-->
