<div class="container-fluid px-0 h-100">
  <div class="wrapper h-100 d-flex justify-content-center">
    <div class="wrapper-content d-flex justify-content-center w-100 flex-wrap">
      <div class="main-content bg-white">
        <div class="row mx-0 p-3 p-lg-4">
          <div class="col-sm-12 col-lg-6 col-xxl-3 mb-4">
            <a class="text-decoration-none" routerLink="user-management">
              <div class="d-flex align-items-start">
                <div class="icon-box icon-box-success p-2 p-xxl-3 position-relative rounded-3">
                  <img src="./assets/images/user-mgmt.svg" alt="user management" />
                </div>
                <div class="ms-xxl-3 ms-3 mt-xxl-0">
                  <h6 class="text-grey-3 mb-1 fw-semibold">User Management</h6>
                  <p class="text-grey-4 fw-normal my-0">
                    User Management: Control and secure user access and
                    permissions.
                  </p>
                </div>
              </div>
            </a>
          </div>
          <div class="col-sm-12 col-lg-6 col-xxl-3 mb-4">
            <a class="text-decoration-none" routerLink="vendor-management">
              <div class="d-flex align-items-start">
                <div class="icon-box icon-box-danger p-2 p-xxl-3 position-relative rounded-3">
                  <img style="width: 29px;"
                    src="./assets/images/vendor.svg"
                    alt="vendor management"/>
                </div>
                <div class="ms-xxl-3 ms-3 mt-xxl-0">
                  <h6 class="text-grey-3 mb-1 fw-semibold">Vendors</h6>
                  <p class="text-grey-4 fw-normal my-0">
                    Control and secure vendor access and
                    permissions.
                  </p>
                </div>
              </div>
            </a>
          </div>
          <div class="col-sm-12 col-lg-6 col-xxl-3 mb-4">
            <a class="text-decoration-none" routerLink="purchase-order">
              <div class="d-flex align-items-start">
                <div
                  class="icon-box icon-box-success p-2 p-xxl-3 position-relative rounded-3"
                >
                  <img style="width: 29px;"
                    src="./assets/images/purchase-order.png"
                    alt="purchase-order"
                  />
                </div>
                <div class="ms-xxl-3 ms-3 mt-xxl-0">
                  <h6 class="text-grey-3 mb-1 fw-semibold">Purchase Orders</h6>
                  <p class="text-grey-4 fw-normal my-0">
                    Control and secure Purchase Orders.
                  </p>
                </div>
              </div>
            </a>
          </div>
          <div class="col-sm-12 col-lg-6 col-xxl-3 mb-4">
            <a class="text-decoration-none" routerLink="conditional-mapping">
              <div class="d-flex align-items-start">
                <div class="icon-box icon-box-voilet-dark p-2 p-xxl-3 position-relative rounded-3">
                  <img style="width: 29px;"
                    src="./assets/images/mind-mapping.svg"
                    alt="conditional mapping"
                  />
                </div>
                <div class="ms-xxl-3 ms-3 mt-xxl-0">
                  <h6 class="text-grey-3 mb-1 fw-semibold">Conditional Mapping</h6>
                  <p class="text-grey-4 fw-normal my-0">
                    Control and secure Conditional Mapping.
                  </p>
                </div>
              </div>
            </a>
          </div>
          <div class="col-sm-12 col-lg-6 col-xxl-3 mb-4">
            <a class="text-decoration-none" routerLink="gst">
              <div class="d-flex align-items-start">
                <div class="icon-box icon-box-voilet-dark p-2 p-xxl-3 position-relative rounded-3">
                  <img style="width: 29px;"
                    src="./assets/images/gst.svg"
                    alt="gst"
                  />
                </div>
                <div class="ms-xxl-3 ms-3 mt-xxl-0">
                  <h6 class="text-grey-3 mb-1 fw-semibold">GST Master</h6>
                  <p class="text-grey-4 fw-normal my-0">
                    Control and secure GST Data.
                  </p>
                </div>
              </div>
            </a>
          </div>
          <div class="col-sm-12 col-lg-6 col-xxl-3 mb-4">
            <a class="text-decoration-none" routerLink="posted-invoice-data">
              <div class="d-flex align-items-start">
                <div class="icon-box icon-box-voilet-dark p-2 p-xxl-3 position-relative rounded-3">
                  <img style="width: 29px;"
                    src="./assets/images/doc-id-range.svg"
                    alt="gst"
                  />
                </div>
                <div class="ms-xxl-3 ms-3 mt-xxl-0">
                  <h6 class="text-grey-3 mb-1 fw-semibold">SAP Posted Invoice Data</h6>
                  <p class="text-grey-4 fw-normal my-0">
                    Control and secure SAP Posted Invoice Data.
                  </p>
                </div>
              </div>
            </a>
          </div>
          <div class="col-sm-12 col-lg-6 col-xxl-3 mb-4">
            <a class="text-decoration-none" routerLink="invoice-buffer-report">
              <div class="d-flex align-items-start">
                <div class="icon-box icon-box-success p-2 p-xxl-3 position-relative rounded-3">
                  <img style="width: 29px;"
                    src="./assets/images/doc-id-range.svg"
                    alt="invoice buffer"
                  />
                </div>
                <div class="ms-xxl-3 ms-3 mt-xxl-0">
                  <h6 class="text-grey-3 mb-1 fw-semibold">Invoice Buffer Report</h6>
                  <p class="text-grey-4 fw-normal my-0">
                    View and manage invoice buffer data with status tracking.
                  </p>
                </div>
              </div>
            </a>
          </div>
          <!-- <div class="col-sm-12 col-lg-6 col-xxl-3 mb-4">
            <a class="text-decoration-none" routerLink="error-log">
              <div class="d-flex align-items-start">
                <div class="icon-box icon-box-danger p-2 p-xxl-3 position-relative rounded-3">
                  <img src="./assets/images/logs.png" alt="roles" />
                </div>
                <div class="ms-xxl-3 ms-3 mt-xxl-0">
                  <h6 class="text-grey-3 mb-1 fw-semibold">Error Logs</h6>
                  <p class="text-grey-4 fw-normal my-0">
                    Error Logs: Recorded data on system or application errors
                    and exceptions.
                  </p>
                </div>
              </div>
            </a>
          </div>
          <div class="col-sm-12 col-lg-6 col-xxl-3 mb-4">
            <a routerLink="application-log" class="text-decoration-none">
              <div class="d-flex align-items-start">
                <div class="icon-box icon-box-light p-2 p-xxl-3 position-relative rounded-3">
                  <img src="./assets/images/application.svg" alt="" />
                </div>
                <div class="ms-xxl-3 ms-3 mt-xxl-0">
                  <h6 class="text-grey-3 mb-1 fw-semibold">Application Logs</h6>
                  <p class="text-grey-4 fw-normal my-0">
                    Application Logs: Recorded data on system or application
                    errors and exceptions.
                  </p>
                </div>
              </div>
            </a>
          </div>
          <div class="col-sm-12 col-lg-6 col-xxl-3 mb-4">
            <a routerLink="ocr-q-log" class="text-decoration-none">
              <div class="d-flex align-items-start">
                <div class="icon-box icon-box-danger p-2 p-xxl-3 position-relative rounded-3">
                  <img src="./assets/images/doc-id-logs.svg" alt="" />
                </div>
                <div class="ms-xxl-3 ms-3 mt-xxl-0">
                  <h6 class="text-grey-3 mb-1 fw-semibold">
                    Thick-Client Logs
                  </h6>
                  <p class="text-grey-4 fw-normal my-0">
                    Thick-Client Logs: Recorded data on system or application
                    errors and exceptions.
                  </p>
                </div>
              </div>
            </a>
          </div> -->
          <!-- <div class="col-sm-12 col-lg-6 col-xxl-3 mb-4">
            <a routerLink="channel" class="text-decoration-none">
              <div class="d-flex align-items-start">
                <div class="icon-box icon-box-voilet-dark p-2 p-xxl-3 position-relative rounded-3">
                  <img src="./assets/images/channel.png" alt="Channel" />
                </div>
                <div class="ms-xxl-3 ms-3 mt-xxl-0">
                  <h6 class="text-grey-3 mb-1 fw-semibold">Channel</h6>
                  <p class="text-grey-4 fw-normal my-0">
                    Email, FTP, thick client, and an autopilot bot for task
                    automation.<span class="red-fg"></span>
                  </p>
                </div>
              </div>
            </a>
          </div> -->
          <!-- <div class="col-sm-12 col-lg-6 col-xxl-3 mb-4">
            <a class="text-decoration-none" routerLink="erp-sync-log">
              <div class="d-flex align-items-start">
                <div class="icon-box icon-box-success p-2 p-xxl-3 position-relative rounded-3">
                  <img src="./assets/images/erp-sync-log.svg" alt="roles" />
                </div>
                <div class="ms-xxl-3 ms-3 mt-xxl-0">
                  <h6 class="text-grey-3 mb-1 fw-semibold">Erp Sync Logs</h6>
                  <p class="text-grey-4 fw-normal my-0">
                    Erp Sync Logs: Recorded data on system or application errors
                    and exceptions.
                  </p>
                </div>
              </div>
            </a>
          </div>
          <div class="col-sm-12 col-lg-6 col-xxl-3 mb-4">
            <a class="text-decoration-none" routerLink="cron-logs">
              <div class="d-flex align-items-start">
                <div class="icon-box icon-box-light p-2 p-xxl-3 position-relative rounded-3">
                  <img style="width: 29px;" src="./assets/images/cron-job-icon.svg" alt="vendor management"/>
                </div>
                <div class="ms-xxl-3 ms-3 mt-xxl-0">
                  <h6 class="text-grey-3 mb-1 fw-semibold">Cron Job Details</h6>
                  <p class="text-grey-4 fw-normal my-0">
                    Control and secure cron access.
                  </p>
                </div>
              </div>
            </a>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>
