
<div class="pb-5" style="height: calc(100% - 50px);">
  <div class="d-flex pt-0 pe-0 border-bottom align-items-start justify-content-between">
    <div class="text-grey-3 fw-medium d-flex align-items-center gap-2 py-3 ps-3">
      <div class="icon-box icon-box-primary rounded-3 p-2 p-xxl-2 position-relative">
        <img src="./assets/images/role-details.png" alt="role">
      </div> GST Details
    </div>
    <button type="button" class="btn btn-cls" mat-dialog-close aria-label="Close"><img src="./assets/images/x.svg"
        alt=""></button>
  </div>
  <div class="px-4 py-3" style="height: calc(100% - 25px);overflow-y: auto;">

    <form #vendorF="ngForm">
      <div class="row g-3 w-100">
        <div class="col-md-12">
          <label for="name" class="form-label">GST Number <span class="validateIcon" style="color: red">*</span></label>
          <input type="text" class="form-control" name="name" [(ngModel)]="gst.gstNo" />
        </div>
        <div class="col-md-12">
          <label for="Select Role" class="form-label">System <span class="validateIcon" style="color: red">*</span></label>
          <p-dropdown appendTo="body" name="system" [options]="systems" optionLabel="systemId" optionValue="systemId" [(ngModel)]="gst.logicalSystem"
                placeholder="Select System" [required]="true"></p-dropdown>
        </div>
      </div>
    </form>
  </div>
  <div class="offcanvas-footer position-absolute bottom-0 bg-light px-3 py-2 w-100">
    <div>
      <div class="d-flex align-items-center gap-1" style="float: right;">
        <button type="button" class="btn btn-light px-3 me-2" mat-dialog-close>Cancel</button>
        <button type="button" class="btn btn-info px-5" [disabled]="vendorF.invalid" (click)="saveGST()">Save</button>
      </div>
    </div>
  </div>
</div>
