
<!-- Add New Role (offcanvas)-->
<div class="pb-5" style="height: calc(100% - 50px);">
    <div class="d-flex pt-0 pe-0 border-bottom align-items-start justify-content-between">
      <div class="text-grey-3 fw-medium d-flex align-items-center gap-2 py-3 ps-3">
        <div class="icon-box icon-box-primary rounded-3 p-2 p-xxl-2 position-relative">
          <img src="./assets/images/role-details.png" alt="role">
        </div> Application
      </div>
      <button type="button" class="btn btn-cls" mat-dialog-close aria-label="Close"><img src="./assets/images/x.svg"
          alt=""></button>
    </div>
    <div class="px-4 py-3" style="height: calc(100% - 25px);overflow-y: auto;">
      <!-- form -->
      <form #appF="ngForm">
        <div class="row g-2 w-100">
          <div class="col-md-12">
            <mat-slide-toggle
                class="example-margin"
                [checked]="emailTemplateModel.enabled"
                (change)="getToggle($event)">
                Slide me! {{emailTemplateModel.enabled}}
            </mat-slide-toggle>
          </div>
          <div class="col-md-12">
            <label for="body" class="form-label">Body</label>
            <input type="text" class="form-control" name="body" [(ngModel)]="emailTemplateModel.body" [disabled]="!emailTemplateModel.enabled"/>
          </div>
          <div class="col-md-12">
            <label for="title" class="form-label">Title</label>
            <input type="text" name="title" class="form-control" [(ngModel)]="emailTemplateModel.title" [disabled]="!emailTemplateModel.enabled"/>
          </div>
          <div class="col-md-12">
            <label for="type" class="form-label">Type</label>
            <div class="dropdown-border">
                <p-dropdown appendTo="body" name="email" [options]="emailTemplateTypes" [(ngModel)]="emailTemplateModel.type"
                  placeholder="Select Clients"  [disabled]="!emailTemplateModel.enabled"></p-dropdown>
            </div>
            <!-- <input type="text" class="form-control" name="type" [(ngModel)]="emailTemplateModel.type" [disabled]="!emailTemplateModel.enabled"/> -->
          </div>
        </div>
      </form>
      <!-- form -->
    </div>
    <div class="offcanvas-footer position-absolute bottom-0 bg-light px-3 py-2 w-100">
      <div>
        <div class="d-flex align-items-center gap-1" style="float: right;">
          <button type="button" class="btn btn-light px-3 me-2" mat-dialog-close>Cancel</button>
          <button type="button" class="btn btn-info px-5" [disabled]="appF.invalid"
            (click)="saveApplication()">Save</button>
        </div>
      </div>
    </div>
  </div>
  <!-- /Add New Role (offcanvas)-->