<div class="pb-5 position-relative h-100">
    <div class="d-flex pt-0 pe-0 border-bottom align-items-start justify-content-between">
        <div class="text-grey-3 fw-medium d-flex align-items-center gap-2 py-3 ps-3">
            <div class="icon-box icon-box-primary rounded-3 p-2 p-xxl-2 position-relative">
                <img src="./assets/images/role-details.png" alt="role">
            </div>Custom Field
        </div>
        <button type="button" class="btn btn-cls" mat-dialog-close aria-label="Close">
            <img src="./assets/images/x.svg" alt="">
        </button>
    </div>
    <div class="col-lg-12 col-xxl-12 px-4 py-3">
        <div class="col-md-10">
            <label for="name" class="form-label fw-semibold text-font-dark">Field Name</label>
            <input type="text" name="name" [(ngModel)]="customField.fieldName" class="form-control py-2">
        </div>
    </div>
    <div class="col-lg-12 col-xxl-12 d-flex align-items-center px-4 gap-3">
        <div class="form-check d-flex align-items-center justify-content-center gap-2"
            style="background: #DBEAFE; height: 40px; width: 160px;border-radius: 5px;">
            <input [checked]="customField.fieldType === 'Regx'" (click)="onFieldTypeChange('Regx')"
                class="form-check-input cursor-pointer mb-1" type="radio" name="fieldType" id="fieldType1" />
            <label class="form-check-label mb-0 cursor-pointer" for="fieldType1">
                Regex
            </label>
        </div>
        <div class="form-check d-flex align-items-center justify-content-center gap-2"
            style="background: #DBEAFE; height: 40px;width: 160px;border-radius: 5px;">
            <input [checked]="customField.fieldType === 'PossibleValue'" (click)="onFieldTypeChange('PossibleValue')"
                class="form-check-input cursor-pointer mb-1" type="radio" name="fieldType" id="fieldType2" />
            <label class="form-check-label mb-0 cursor-pointer" for="fieldType2">
                Possible Values
            </label>
        </div>
        <div class="form-check d-flex align-items-center justify-content-center gap-2"
            style="background: #DBEAFE; height: 40px;width: 160px;border-radius: 5px;">
            <input [checked]="customField.fieldType === 'Script'" (click)="onFieldTypeChange('Script')"
                class="form-check-input cursor-pointer mb-1" type="radio" name="fieldType" id="fieldType3" />
            <label class="form-check-label mb-0 cursor-pointer" for="fieldType3">
                Script Field
            </label>
        </div>
    </div>
    <div class="col-lg-12 col-xxl-12 px-4 py-3 gap-3" *ngIf="customField.fieldType === 'Regx' || customField.fieldType === 'PossibleValue'">
        <label for="fieldType" class="form-label fw-semibold text-font-dark">
            <span *ngIf="customField.fieldType === 'Regx'">Regular Expression</span>
            <span *ngIf="customField.fieldType === 'PossibleValue'">Possible Values</span>
        </label>
        <input type="text" name="regularexpression" *ngIf="customField.fieldType === 'Regx'" [(ngModel)]="customField.regularexpression" class="form-control py-2" />
        <textarea name="possibleValues" *ngIf="customField.fieldType === 'PossibleValue'" [(ngModel)]="customField.possibleValues" class="form-control py-2" style="min-height: 100px;"></textarea>
    </div>
    <div class="col-lg-12 col-xxl-12 px-4 py-3 gap-3" [hidden]="customField.fieldType !== 'Script'">
        <label for="fieldType" class="form-label fw-semibold text-font-dark">Script</label>
        <div style="height: 15rem; width: 100%;">
            <ngx-monaco-editor [options]="editorOptions" [(ngModel)]="customField.script"></ngx-monaco-editor>
        </div>
    </div>
    <!-- <div class="col-lg-12 col-xxl-12 d-flex justify-content-between px-4 py-3">
        <div class="col-md-5">
            <label for="name" class="form-label fw-semibold text-font-dark">Test</label>
            <input type="text" name="name" [(ngModel)]="test.value" class="form-control py-2">
        </div>
        <div class="col-md-5">
            <label for="name" class="form-label fw-semibold text-font-dark">Result:</label>
            <div class="col-lg-12 col-xxl-12 d-flex justify-content-between px-4 py-3">
                {{test.response}}
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-xxl-12 d-flex justify-content-between px-4 py-3">
        <a class="cursor-pointer" (click)="runTest()">
            <img src="./assets/images/run.svg" alt="delete" />
        </a>
    </div> -->
    <div class="offcanvas-footer position-absolute bottom-0 bg-light px-3 py-2 w-100">
        <div>
            <div class="d-flex align-items-center gap-1" style="float: right;">
                <button type="button" class="btn btn-light px-3 me-2" mat-dialog-close>Cancel</button>
                <button type="button" class="btn btn-info px-5" (click)="saveRule()">Save</button>
            </div>
        </div>
    </div>
</div>