<!-- Integrations tab -->
<div class="tab-pane">
  <div class="row mx-0 p-3 p-lg-4">
    <div class="col-sm-12 mb-4">
      <h5 class="fw-semibold"> Integrations </h5>
      <div class="d-flex align-items-start gap-2 flex-wrap flex-md-nowrap">
        <!-- <div class="alert alert-warning d-flex align-items-start rounded-0 border-0 p-2 mb-4" role="alert">
          <img src="./assets/images/bulb.svg" class="me-2" alt="bilb">
          <div class="text-grey-4">
            Lorem ipsum dolor sit amet consectetur. Est blandit cursus tellus mi sagittis ac euismod
            dignissim. Cursus scelerisque iaculis arcu vitae in morbi pulvinar tempus cursus. In ultricies
            tortor fermentum malesuada quis. Vitae viverra.
          </div>
        </div> -->
        <!-- <div class="d-grid mb-4 mb-xxl-2 btn-login admin ">
          <a href="javascript:void(0)"
            class="btn btn-info bg-info py-3 border-light d-flex justify-content-center align-items-center gap-2 logout-btn text-nowrap"><svg
              xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18" fill="none">
              <path d="M9.5 3.75V14.25M4.25 9H14.75" stroke="white" stroke-width="1.5" stroke-linecap="round"
                stroke-linejoin="round" />
            </svg> New Integration </a>
        </div> -->
      </div>
      <div class="row">
       <!-- <div class="col-lg-4">
          <a  class="text-decoration-none">
            <div class="card">
              <div class="card-body">
                <div class="icon-box icon-box-light p-2 p-xxl-3 position-relative rounded-3 fit-width">
                  <img src="./assets/images/thinkclient.png" alt="others">
                </div>
                <h6 class="text-grey-3 mb-1 mt-3 fw-semibold">ThickClient</h6>
                <p class="text-grey-4 fw-normal mt-0">"Integration: Uniting functions for seamless, amplified
                  operations and enhanced efficiency." <span class="red-fg">&nbsp; Pending</span></p>
              </div>
            </div>
          </a>
        </div> -->
        <div class="col-sm-12 col-lg-6 col-xxl-3 my-4">
          <a  class="text-decoration-none">
            <div class="card" style="height: 180px;">
              <div class="card-body">
                <div class="icon-box icon-box-light p-2 p-xxl-3 position-relative rounded-3 fit-width">
                  <img src="./assets/images/smartDocs.png" alt="others">
                </div>
                <h6 class="text-grey-3 mb-1 mt-3 fw-semibold">SmartDocs One</h6>
                <p class="text-grey-4 fw-normal mt-0">"Integration: Uniting functions for seamless, amplified
                  operations and enhanced efficiency." <span class="red-fg">&nbsp; Pending</span></p>
              </div>
            </div>
          </a>
        </div>
        <div class="col-sm-12 col-lg-6 col-xxl-3 my-4">
          <a  class="text-decoration-none">
            <div class="card" style="height: 180px;">
              <div class="card-body">
                <div class="icon-box icon-box-light p-2 p-xxl-3 position-relative rounded-3 fit-width">
                  <img src="./assets/images/SAP.png" alt="others">
                </div>
                <h6 class="text-grey-3 mb-1 mt-3 fw-semibold">SAP</h6>
                <p class="text-grey-4 fw-normal mt-0">"Integration: Uniting functions for seamless, amplified
                  operations and enhanced efficiency." <span class="red-fg">&nbsp; Pending</span></p>
              </div>
            </div>
          </a>
        </div>
        <div class="col-sm-12 col-lg-6 col-xxl-3 my-4">
          <a routerLink="smartstore-config" class="text-decoration-none">
            <div class="card" style="height: 180px;">
              <div class="card-body">
                <div class="icon-box icon-box-light p-2 p-xxl-3 position-relative rounded-3 fit-width">
                  <img src="./assets/images/smartkey-config.png" alt="SmartKey Config" style="width: 39px;" />
                </div>
                <h6 class="text-grey-3 mb-1 mt-3 fw-semibold">SmartStore</h6>
                <p class="text-grey-4 fw-normal mt-0">Fine-tuning settings to personalize and optimize your
                  experience.</p>
              </div>
            </div>
          </a>
        </div>
        <div class="col-sm-12 col-lg-6 col-xxl-3 my-4">
          <a routerLink="openai-config" class="text-decoration-none">
            <div class="card" style="height: 180px;">
              <div class="card-body">
                <div class="icon-box icon-box-light p-2 p-xxl-3 position-relative rounded-3 fit-width">
                  <img src="./assets/images/openai.svg" alt="Open AI Config" style="width: 39px;" />
                </div>
                <h6 class="text-grey-3 mb-1 mt-3 fw-semibold">Open AI</h6>
                <p class="text-grey-4 fw-normal mt-0">Fine-tuning settings to personalize and optimize your experience.</p>
              </div>
            </div>
          </a>
        </div>
        <div class="col-sm-12 col-lg-6 col-xxl-3 my-4">
          <a routerLink="sso-client-config" class="text-decoration-none">
            <div class="card" style="height: 180px;">
              <div class="card-body">
                <div class="icon-box icon-box-light p-2 p-xxl-3 position-relative rounded-3 fit-width">
                  <img src="./assets/images/login_SSO.png" alt="SSO Config" style="width: 39px;" />
                </div>
                <h6 class="text-grey-3 mb-1 mt-3 fw-semibold">SSO Configration</h6>
                <p class="text-grey-4 fw-normal mt-0">Fine-tuning settings to personalize and optimize your experience.</p>
              </div>
            </div>
          </a>
        </div>
        <div class="col-sm-12 col-lg-6 col-xxl-3 my-4">
          <a routerLink="auth-profile" class="text-decoration-none">
            <div class="card" style="height: 180px;">
              <div class="card-body">
                <div class="icon-box icon-box-light p-2 p-xxl-3 position-relative rounded-3 fit-width">
                  <img src="./assets/images/oauth-app-config.svg" alt="Oauth App Config" style="width: 39px;" />
                </div>
                <h6 class="text-grey-3 mb-1 mt-3 fw-semibold">Oauth App Config</h6>
                <p class="text-grey-4 fw-normal mt-0">Fine-tuning settings to personalize and optimize your experience.</p>
              </div>
            </div>
          </a>
        </div>
        <div class="col-sm-12 col-lg-6 col-xxl-3 my-4">
          <a routerLink="application" class="text-decoration-none">
            <div class="card" style="height: 180px;">
              <div class="card-body">
                <div class="icon-box icon-box-light p-2 p-xxl-3 position-relative rounded-3 fit-width">
                  <img src="./assets/images/application.svg" alt="application" style="width: 39px;" />
                </div>
                <h6 class="text-grey-3 mb-1 mt-3 fw-semibold">Application</h6>
                <p class="text-grey-4 fw-normal mt-0">Fine-tuning settings to personalize and optimize your experience.</p>
              </div>
            </div>
          </a>
        </div>
        <div class="col-sm-12 col-lg-6 col-xxl-3 my-4">
          <a routerLink="azure-ai-config" class="text-decoration-none">
            <div class="card" style="height: 180px;">
              <div class="card-body">
                <div class="icon-box icon-box-light p-2 p-xxl-3 position-relative rounded-3 fit-width">
                  <img src="./assets/images/openai.svg" alt="Azure  AI Config" style="width: 39px;">
                </div>
                <h6 class="text-grey-3 mb-1 mt-3 fw-semibold">Azure AI Config</h6>
                <p class="text-grey-4 fw-normal my-0">
                  Fine-tuning settings to personalize and optimize your
                  experience.
                </p>
            </div>
          </div>
        </a>
    </div>

    <div class="col-sm-12 col-lg-6 col-xxl-3 my-4">
        <a class="text-decoration-none" (click)="openRestAPI()">
          <div class="card" style="height: 180px;">
            <div class="card-body">
              <div class="icon-box icon-box-light p-2 p-xxl-3 position-relative rounded-3 fit-width">
                <img src="./assets/images/API.svg" alt="others">
              </div>
              <h6 class="text-grey-3 mb-1 mt-3 fw-semibold">REST API</h6>
              <p class="text-grey-4 fw-normal mt-0">REST Based API Manual Triggering</p>
            </div>
          </div>
        </a>
    </div>
  </div>
</div>

<ng-template #restAPIDataSync>
 <div class="w-7">
  <div class="modal-body p-3">
    <div class="row">
      <form #form="ngForm">
        <div>
          <div>
            <label class="mb-2">What kind of Rest Service You are using?</label>
            <div class="d-flex align-item-center w-100">
              <p-dropdown appendTo="body" name="rest" [options]="restAPIService" [(ngModel)]="restAPIType"
                placeholder="Select Rest Service" optionDisabled="inactive" [required]="true" class="w-100"></p-dropdown>
            </div>
          </div>
          <div class="py-2">
            <label class="mb-2">Channel</label>
            <div class="d-flex align-item-center w-100">
            <p-dropdown appendTo="body" name="channelId" class="dFilter" [options]="channels" optionLabel="usernameId" optionValue="id" [showClear]="true"
             placeholder="Select Channel" [(ngModel)]="restAPIQueryParams.channelId" [required]="true"></p-dropdown>
            </div>
          </div>
          <div class="py-2">
            <label class="mb-2">Date</label>
            <div class="searchBox cursor-pointer gap-2 w-100">
                <input type="text" class="w-100 border-0" placeholder="Search By Date" #dp="bsDatepicker" [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }" (ngModelChange)="onDateRangeSelected($event)"
                    [maxDate]="maxDate" bsDatepicker  [(ngModel)]="date" 
                     readonly name="dateRange" style="font-size: 0.9rem;" />
                <div>
                  <img (click)="dp.toggle()" *ngIf="!restAPIQueryParams.date?.length" src="./assets/media/calendar.svg"
                      alt="" />
                  <span *ngIf="restAPIQueryParams.date?.length" class="cursor-pointer crossicon" (click)="removeDate()">
                    <span>
                      <i class="bi bi-x-lg"></i>
                    </span>
                  </span>
                </div>
              </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <div class="d-flex flex-grow-1 justify-content-end">
      <div class="d-flex">
        <button class="cancel-btn me-3" (click)="close()">
          Cancel
        </button>
        <button matRipple class="common-btn" [disabled]="form.invalid || isWait" (click)="submit()">
          Sync
        </button>
      </div>
    </div>
  </div>
</div>
</ng-template>

<app-basic-modal #restAPIDataSyncModal (hidden)="restAPIDataSyncModal.hide()" [heading]="'REST API'"></app-basic-modal>