<div class="container-fluid px-0">
  <div class="wrapper h-calc d-flex justify-content-center">
    <div class="wrapper-content d-flex justify-content-center w-100 flex-wrap">
      <div class="main-content bg-white">
        <div class="row mx-0 p-3 p-lg-4 pt-lg-3">
          <div class="row mx-0 pt-3 pt-lg-4">
            <div class="p-4 pt-0">
              <div class="col-sm-12 mb-3">
                <a routerLink="/business-admin" class="text-decoration-none d-flex align-items-center px-0">
                  <h5 class="fw-semibold"><img src="./assets/images/arrow-left.svg" class="me-1" alt="arrow left"> Channel</h5>
                </a>
                <div class="alert alert-warning d-flex align-items-start rounded-0 border-0 p-2 mb-3" role="alert">
                  <img src="./assets/images/bulb.svg" class="me-2" alt="bilb">
                  <div class="text-grey-4">
                    Email, FTP, thick client, and an autopilot bot for task automation.
                  </div>
                </div>
              </div>
              <div class="col-lg-12 px-0 mb-3">
                <form action=""
                  class="d-flex align-items-center justify-content-between flex-wrap gap-3 bg-light-2 border border-dashed rounded-3 px-3">
                  <div class="d-flex align-items-center flex-wrap text-grey-3 fw-medium gap-3 pt-3 pb-0 pb-lg-3">
                    <div class="position-relative search-form">
                      <img src="./assets/images/search.svg" class="ms-2 position-absolute" alt="search icon">
                      <input [(ngModel)]="searchForm.username" name="username" type="search" class="form-control w-sm-auto py-2"
                        placeholder="Search by User">
                    </div>
                    <select class="form-select w-sm-auto py-2" aria-label="Default select example">
                      <option selected="">All Channels</option>
                      <option value="1">Open this select menu</option>
                    </select>
                    <div class="d-flex align-items-center gap-2 ms-2">
                      <div>
                        <button matRipple class="btn btn-info shadow" [disabled]="isLoading" (click)="search()">
                          <ng-container *ngIf="isLoading">
                            <span clas="indicator-progress" [style.display]="'block'">
                              Searching...{{ " " }}
                              <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                            </span>
                          </ng-container>
                          <span *ngIf="!isLoading">Search</span>
                        </button>
                      </div>
                      <div>
                        <button class="btn btn-light text-info-dark fw-semibold shadow bg-white me-3" matRipple
                          [disabled]="resettingLoader" (click)="reset()">
                          <ng-container *ngIf="resettingLoader">
                            <span clas="indicator-progress" [style.display]="'block'">
                              Resetting...{{ " " }}
                              <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                            </span>
                          </ng-container>
                          <span *ngIf="!resettingLoader">Reset</span>
                        </button>
                      </div>
                    </div>
                  </div>
                  <!-- <div class="d-flex align-items-center flex-wrap text-grey-3 fw-medium gap-3 text-nowrap pb-3 pt-0 pt-lg-3">
                    <div class="dropdown">
                      <a [matMenuTriggerFor]="menunew" class="btn btn-info shadow d-flex align-items-center gap-2 py-2"><img
                          src="./assets/images/plus.svg" class="me-1" alt="add"> New Channel <img
                          src="./assets/images/chevron-down.svg" alt="arrow down"></a>
                      <mat-menu #menunew="matMenu" yPosition="below" class="customdropdown">
                        <button class="mat-item" mat-menu-item (click)="createEmail()">Email</button>
                        <button class="mat-item" mat-menu-item (click)="goToThicklineChannel()">ThickClient</button>
                        <button class="mat-item" mat-menu-item (click)="goToScanner()">Scanner</button>
                        <button class="mat-item" mat-menu-item (click)="goToFtp()">FTP</button>
                      </mat-menu>
                    </div>
                  </div> -->
                </form>
              </div>
              <div class="col-lg-12">
                <div class="table-responsive mt-4 px-0">
                  <ng-container *ngIf="channels?.length && !initialLoader">
                    <table mat-table matSort class="table user-management" [dataSource]="channels"
                      (matSortChange)="sortChange($event)" matSortDirection="desc" matSortActive="usernameId">
                      <!-- <ng-container matColumnDef="logo">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let element">
                          <span>
                            <img *ngIf="element.type === 'google'" style="width: 20px;"
                              src="./assets/media/Gmail_icon_(2020).svg.webp" alt="">
                            <img *ngIf="element.type === 'ms-graph'" style="width: 20px;"
                              src="./assets/media/Graph API logo.png" alt="">
                            <img *ngIf="element.type === 'ms-imap'" style="width: 63px;"
                              src="./assets/media/Office_365-Logo.wine (1).png" alt="">
                          </span>
                        </td>
                      </ng-container> -->
                      <ng-container matColumnDef="usernameId">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                          User
                        </th>
                        <td mat-cell *matCellDef="let element" (click)="EditChannelType(element)">
                          <p class="text-info fw-semibold my-0">{{element.usernameId}}</p>
                        </td>
                      </ng-container>
                      <ng-container matColumnDef="type" >
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                          Channel
                        </th>
                        <td mat-cell *matCellDef="let element" (click)="EditChannelType(element)">
                          <span class="badge-outline-warning" *ngIf="element.type === 'thickClient'">ThickClient</span>
                          <span class="badge-outline-dark" *ngIf="element.type === 'ftp'">FTP</span>
                          <span class="badge-outline-primary" *ngIf="element.type === 'email'">Email</span>
                        </td>
                      </ng-container>
        
                      <ng-container matColumnDef="enabled">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                          Enabled
                        </th>
                        <td mat-cell *matCellDef="let element" (click)="EditChannelType(element)">
                          <p class="text-grey-3  my-0" >
                            <img *ngIf="element.enabled" src="./assets/images/enabled.svg">
                            <img *ngIf="!element.enabled" src="./assets/images/disabled.svg">
                          </p>
                        </td>
                      </ng-container>
                      <ng-container matColumnDef="mode">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                          Mode
                        </th>
                        <td mat-cell *matCellDef="let element" (click)="EditChannelType(element)">
                          
                          <p class="text-grey-3 my-0 text-capitalize">
                            <img class="me-1" *ngIf="element.mode === 'manual'" src="./assets/images/manual.svg">  
                            <img class="me-1" *ngIf="element.mode === 'auto'" src="./assets/images/auto.svg">  
                            {{element.mode}}
                          </p>
                        </td>
                      </ng-container>
        
                      <ng-container matColumnDef="processorType">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                          Processor Type
                        </th>
                        <td mat-cell *matCellDef="let element" (click)="EditChannelType(element)">
                          <p class="text-grey-3 my-0 text-uppercase">{{element.processorType}}</p>
                        </td>
                      </ng-container>
                      <ng-container matColumnDef="authType">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                          Auth
                        </th>
                        <td mat-cell *matCellDef="let element" (click)="EditChannelType(element)">
                          <p class="text-grey-3 fw-semibold my-0 text-capitalize">{{element.authType}}</p>
                        </td>
                      </ng-container>
        
                      <!-- ================================================================ -->
                      <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef disableClear>
                          <span></span>
                        </th>
                        <td mat-cell *matCellDef="let element" class="cursor-pointer" (click)="EditChannelType(element)">
        
                          <div class="d-flex align-items-center gap-3">
                            <span *ngIf="!element.isWaiting" style="cursor: pointer !important; " matTooltip="Run"
                              matTooltipPosition="above" (click)="run(element)">
                              <img style="width: 20px;" class="me-1" src="./assets/media/play.svg" />
                            </span>
                            <span *ngIf="element.isWaiting" style="width: 12px;height: 12px;" class="spinner-border text-color"
                              role="status"></span>
                            <span [matMenuTriggerFor]="menu" class="cursor-pointer">
                              <img src="./assets/images/more-vertical.svg" alt="">
                            </span>
                            <button class="btn btn-light text-info-dark fw-semibold shadow bg-white me-3" matRipple
                              [disabled]="isViewLog" (click)="openViewLog(element.id)">
                              <ng-container *ngIf="isViewLog">
                                <span clas="indicator-progress" [style.display]="'block'">
                                  Showing...{{ " " }}
                                  <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                                </span>
                              </ng-container>
                              <span *ngIf="!isViewLog">View Log</span>
                            </button>
                          </div>
                          <mat-menu #menu="matMenu" xPosition="before">
                            <button class="mat-item" mat-menu-item>Edit</button>
                            <button class="mat-item" mat-menu-item (click)="openConfirmationModal(element)">Remove</button>
                            <button class="mat-item" mat-menu-item>Duplicate</button>
                            <button class="mat-item" mat-menu-item>Response</button>
                            <button class="mat-item" mat-menu-item>Trigger Email Channel</button>
                          </mat-menu>
                        </td>
                      </ng-container>
                      <!-- ================================================================ -->
                      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" class="table-head"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns" class="cursor-pointer"></tr>
                    </table>
                    <div *ngIf="!initialLoader">
                      <mat-paginator showFirstLastButtons [length]="total" [pageSize]="size" (page)="onPaginateChange($event)"
                        [pageIndex]="page - 1" [pageSizeOptions]="limits" (page)="pageEvent = $event">
                      </mat-paginator>
                    </div>
                  </ng-container>
                </div>
        
              </div>
              <div class="center d-flex flex-column align-items-center mt-5" *ngIf="!channels?.length && !initialLoader">
                <!-- <img src="./assets/media/icons/not-found.svg" alt="" /> -->
                No records found !
              </div>
              <div class="center h-100" *ngIf="initialLoader">
                <app-page-loader class="v-center"></app-page-loader>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #addEmialView>
  <app-add-email [editChannel]="editChannel" [getChannel]="getChannel" (onclose)="addEmialModal.hide()"
    (onsubmit)="onSuccess($event)"></app-add-email>
</ng-template>

<app-basic-modal #addEmialModal (hidden)="addEmialModal.hide()" [heading]="'Add Email'"></app-basic-modal>


<!-- Delete Confirmation -->
<app-delete-confirmation-modal #deleteModal [content]="
    'Be careful, this process can not be undone. Are you sure you want to delete this channel?'
  " [isLoading]="isDelete" (hidden)="deleteModal.hide()" (yes)="deleteChannel()"
  (no)="deleteModal.hide()"></app-delete-confirmation-modal>

<!-- Delete Confirmation -->