<!-- settings tab -->
<div class="tab-pane" id="v-pills-Settings" role="tabpanel" aria-labelledby="v-pills-Settings-tab" tabindex="0">
  <div class="row mx-0 p-3 p-lg-4">
    <div class="col-sm-12 mb-4">
      <h5 class="fw-semibold"> System Logs </h5>
      <div class="alert alert-warning d-flex align-items-start rounded-0 border-0 p-2 mb-4" role="alert">
        <img src="./assets/images/bulb.svg" class="me-2" alt="bilb">
        <div class="text-grey-4">
          Access detailed logs and records of system activities, errors, and events. Monitor and review log data to troubleshoot issues, track performance, and ensure the system is functioning as expected.
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-12 col-lg-6 col-xxl-3 mb-4">
          <a class="text-decoration-none" routerLink="error-log">
            <div class="d-flex align-items-start">
              <div class="icon-box icon-box-danger p-2 p-xxl-3 position-relative rounded-3">
                <img src="./assets/images/logs.png" alt="roles" />
              </div>
              <div class="ms-xxl-3 ms-3 mt-xxl-0">
                <h6 class="text-grey-3 mb-1 fw-semibold">Error Logs</h6>
                <p class="text-grey-4 fw-normal my-0">
                  Error Logs: Recorded data on system or application errors
                  and exceptions.
                </p>
              </div>
            </div>
          </a>
        </div>
        <div class="col-sm-12 col-lg-6 col-xxl-3 mb-4">
          <a routerLink="application-log" class="text-decoration-none">
            <div class="d-flex align-items-start">
              <div class="icon-box icon-box-light p-2 p-xxl-3 position-relative rounded-3">
                <img src="./assets/images/application.svg" alt="" />
              </div>
              <div class="ms-xxl-3 ms-3 mt-xxl-0">
                <h6 class="text-grey-3 mb-1 fw-semibold">Application Logs</h6>
                <p class="text-grey-4 fw-normal my-0">
                  Application Logs: Recorded data on system or application
                  errors and exceptions.
                </p>
              </div>
            </div>
          </a>
        </div>
        <div class="col-sm-12 col-lg-6 col-xxl-3 mb-4">
          <a routerLink="ocr-q-log" class="text-decoration-none">
            <div class="d-flex align-items-start">
              <div class="icon-box icon-box-danger p-2 p-xxl-3 position-relative rounded-3">
                <img src="./assets/images/doc-id-logs.svg" alt="" />
              </div>
              <div class="ms-xxl-3 ms-3 mt-xxl-0">
                <h6 class="text-grey-3 mb-1 fw-semibold">
                  Thick-Client Logs
                </h6>
                <p class="text-grey-4 fw-normal my-0">
                  Thick-Client Logs: Recorded data on system or application
                  errors and exceptions.
                </p>
              </div>
            </div>
          </a>
        </div>
        <div class="col-sm-12 col-lg-6 col-xxl-3 mb-4">
          <a class="text-decoration-none" routerLink="erp-sync-log">
            <div class="d-flex align-items-start">
              <div class="icon-box icon-box-success p-2 p-xxl-3 position-relative rounded-3">
                <img src="./assets/images/erp-sync-log.svg" alt="roles" />
              </div>
              <div class="ms-xxl-3 ms-3 mt-xxl-0">
                <h6 class="text-grey-3 mb-1 fw-semibold">Erp Sync Logs</h6>
                <p class="text-grey-4 fw-normal my-0">
                  Erp Sync Logs: Recorded data on system or application errors
                  and exceptions.
                </p>
              </div>
            </div>
          </a>
        </div>
        <div class="col-sm-12 col-lg-6 col-xxl-3 mb-4">
          <a class="text-decoration-none" routerLink="file-logs">
            <div class="d-flex align-items-start">
              <div class="icon-box-warning p-2 p-xxl-3 position-relative rounded-3">
                <img src="./assets/images/file-log.svg" alt="roles" />
              </div>
              <div class="ms-xxl-3 ms-3 mt-xxl-0">
                <h6 class="text-grey-3 mb-1 fw-semibold">File Logs</h6>
                <p class="text-grey-4 fw-normal my-0">
                  File Logs: Maintains a record of file transfers and their respective locations.
                </p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /settings tab -->
