.nav-tab {
  border-bottom: 1px solid #e4e7ec;
}

.nav-tab .nav-link.activeTab {
  color: #026aa2 !important;
  border-bottom: 2px solid #026aa2;
}

.nav-link {
  // font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #667085;
  cursor: pointer;

  &:hover {
    color: #026aa2 !important;
    border-bottom: 2px solid #026aa2;
  }
}

.fix-fields {
  border-bottom: 2px solid #e4e7ec;
}

// .fix-fields:last-child {
//   border: none;
// }

.doc-type-item {
  border-bottom: 1px solid #e4e7ec;
  background-color: #faf9f8;
}

.canvas-container {
  height: 0px;
  position: relative;
  user-select: none !important;
}

input,
select {
  border-radius: 0;
  border: 1px solid #bdbdbd;
  outline: none;
  padding: 5px 10px;
  font-size: 12px;
}

select {height: 30px;}

.purchaseOrder,
.max-content {
  width: 150px !important;
  min-width: 100px;
}

.mdiLineItem th,
.mdiLineItem td {
  padding: 5px 10px !important;
}

.mdiLineItem td input {
  max-width: 125px !important;
}

.pdf-document-viewer {
  height: calc(100% - 42px);
}

.h-calc-30 {
  height: calc(100% - 30px);
}

.h-calc-50 {
  height: calc(100% - 50px);
}

.h-calc-75 {
  height: calc(100% - 75px);
}

.customTitle {
  font-size: 13px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
  color: #667085;
}

.table>thead>tr>th {
  background-color: #fff;
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  text-align: left;
  color: #B5B5C3;
}

.table>tbody>tr>td {
  padding: 8px;
  min-width: 50px;
  font-size: 13px;
}

.table>thead>tr>th {
  padding: 8px;
}

.headerTitle {
  font-family: Inter;
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  color: #344054;
}

.customInput {
  background: #FFFFFF;
  border: 1px solid #D0D5DD;
  box-shadow: 0px 1px 2px 0px #1018280D;
  padding: 5px 14px;
  border-radius: 4px;
  width: 100%;
  opacity: 0px;
}

.customTable {
  border: 1px solid #E5EAEE;
  margin-bottom: 0;
}

.customTable td {
  border: 1px solid #E5EAEE;
}

.customTable td:first-child {
  border-left: none !important;
}

.customTable td:last-child {
  border-right: none !important;
}

.customTable tr:first-child td {
  border-top: none !important;
}

.w-250 {width: 250px !important; max-width: 250px !important; min-width: 250px !important;}

.multipleTable {
  border: 1px solid #E5EAEE;
}

.multipleTable>tbody>tr>td {
  padding: 5px;
  min-width: 50px;
  font-size: 13px;
  border-right: 1px solid #E5EAEE;
  border-bottom: 1px solid #E5EAEE;
}

.multipleTable>tbody>tr>td:last-child {border-right: none;}
