<!-- Integrations tab -->
<div class="tab-pane">
  <div class="row mx-0 p-3 p-lg-4">
    <div class="col-sm-12 mb-4">
      <h5 class="fw-semibold"> Integrations </h5>
      <div class="d-flex align-items-start gap-2 flex-wrap flex-md-nowrap">
        <div class="alert alert-warning d-flex align-items-start rounded-0 border-0 p-2 mb-4" role="alert">
          <img src="./assets/images/bulb.svg" class="me-2" alt="bilb">
          <div class="text-grey-4">
            Lorem ipsum dolor sit amet consectetur. Est blandit cursus tellus mi sagittis ac euismod
            dignissim. Cursus scelerisque iaculis arcu vitae in morbi pulvinar tempus cursus. In ultricies
            tortor fermentum malesuada quis. Vitae viverra.
          </div>
        </div>
      </div>
      <div class="row">
        <!-- <div class="col-sm-12 col-lg-6 col-xxl-3 my-4">
          <a routerLink="vendor-determination" class="text-decoration-none">
            <div class="d-flex align-items-start">
              <div class="icon-box-voilet p-2 p-xxl-3 position-relative rounded-3">
                <img width="29" src="./assets/images/openai.svg" alt="Vendor Determination">
              </div>
              <div class="ms-xxl-3 ms-3 mt-xxl-0">
                <h6 class="text-grey-3 mb-1 fw-semibold">Vendor Determination</h6>
                <p class="text-grey-4 fw-normal my-0">
                  Defining Vendor Determination Open AI Config.
                </p>
              </div>
            </div>
          </a>
        </div> -->
        <div class="col-sm-12 col-lg-6 col-xxl-3 my-4">
          <a routerLink="fraud-detection" class="text-decoration-none">
            <div class="d-flex align-items-start">
              <div class="icon-box-voilet p-2 p-xxl-3 position-relative rounded-3">
                <img width="29" src="./assets/images/openai.svg" alt="Metadata Mapping">
              </div>
              <div class="ms-xxl-3 ms-3 mt-xxl-0">
                <h6 class="text-grey-3 mb-1 fw-semibold">Fraud Detection</h6>
                <p class="text-grey-4 fw-normal my-0">
                  Defining AI Prompts and Criteria.
                </p>
              </div>
            </div>
          </a>
        </div>
        <div class="col-sm-12 col-lg-6 col-xxl-3 my-4">
          <a routerLink="ai-prompt" class="text-decoration-none">
            <div class="d-flex align-items-start">
              <div class="icon-box-voilet p-2 p-xxl-3 position-relative rounded-3">
                <img width="29" src="./assets/images/ocr-mapping.png" alt="AI Prompt">
              </div>
              <div class="ms-xxl-3 ms-3 mt-xxl-0">
                <h6 class="text-grey-3 mb-1 fw-semibold">Auto-Coding</h6>
                <p class="text-grey-4 fw-normal my-0">
                  Defining Auto Coding.
                </p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Integrations tab -->
