<div class="main-content bg-white w-100">
  <div class="row mx-0 pt-3 pt-lg-4">
    <div class="p-4 pt-0">
      <div class="col-sm-12 mb-3">
        <a routerLink="/system-admin/intelligence-hub/ai-prompt" class="text-decoration-none d-flex align-items-center px-0">
          <h5 class="fw-semibold" *ngIf="editMode === 'new'"><img src="./assets/images/arrow-left.svg" class="me-1" alt="arrow left">Create RFP AI Prompt</h5>
          <h5 class="fw-semibold" *ngIf="editMode === 'edit'"><img src="./assets/images/arrow-left.svg" class="me-1" alt="arrow left">{{formatName(rfpAIPrompt.name)}}</h5>
        </a>
        <div class="alert alert-warning d-flex align-items-start rounded-0 border-0 p-2 mb-3" role="alert">
          <img src="./assets/images/bulb.svg" class="me-2" alt="bilb">
          <div class="text-grey-4" *ngIf="editMode === 'new'">
            Defining RFP AI Prompt.
          </div>
          <div class="text-grey-4" *ngIf="editMode === 'edit'">
            Defining {{formatName(rfpAIPrompt.name)}}.
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="name" class="form-label fw-semibold text-font-dark">Prompt Name</label>
          <input type="text" class="form-control" [(ngModel)]="rfpAIPrompt.name">
        </div>
        <div class="col-md-6 mb-3">
          <label for="maxTokens" class="form-label fw-semibold text-font-dark">Max Tokens</label>
          <input type="text" class="form-control" [(ngModel)]="rfpAIPrompt.maxTokens"  placeholder="model">
        </div>
        <div class="col-md-6 mb-3">
          <label for="responseFormat" class="form-label fw-semibold text-font-dark">Response Format</label>
          <select class="form-control" id="category" [(ngModel)]="rfpAIPrompt.responseFormat">
            <option value="" disabled selected>Select Response Format</option>
            <option value="text"  [selected]="rfpAIPrompt.responseFormatOpenAi === 'text'">text</option>
            <option value="json_object"  [selected]="rfpAIPrompt.responseFormatOpenAi === 'json_object'">json_object</option>
            <option value="json_schema"  [selected]="rfpAIPrompt.responseFormatOpenAi === 'json_schema'">json_schema</option>
          </select>
        </div>
        <div class="col-md-6 mb-3">
          <label for="role" class="form-label fw-semibold text-font-dark">Role</label>
          <input type="text" class="form-control" [(ngModel)]="rfpAIPrompt.role">
        </div>
        <div class="col-md-6 mb-3">
          <label for="temperature" class="form-label fw-semibold text-font-dark">Temperature</label>
          <div>
            <mat-slider min="0" max="1" step="0.1" style="width: 220px !important">
              <input matSliderThumb [(ngModel)]="rfpAIPrompt.temperature"
                name="temperature">
            </mat-slider>
            <label class="custom-new-label mb-2 fw-semibold" style="margin-left: 10px;">{{ rfpAIPrompt.temperature}}</label>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <nav>
          <div class="nav nav-underline" id="nav-tab" role="tablist">
            <button class="nav-link px-2 active" id="nav-prompt-tab" data-bs-toggle="tab" data-bs-target="#nav-prompt"
              type="button" role="tab" aria-controls="nav-prompt" aria-selected="true">
              Meta Prompts
            </button>
            <button class="nav-link px-2" id="nav-context-tab" data-bs-toggle="tab" data-bs-target="#nav-context"
              type="button" role="tab" aria-controls="nav-context" aria-selected="true">
              Context Details
            </button>
            <button class="nav-link px-2" id="nav-response-format-tab" data-bs-toggle="tab" data-bs-target="#nav-response-format"
              type="button" role="tab" aria-controls="nav-response-format" aria-selected="true">
              Response Format Details
            </button>
            <button class="nav-link px-2" id="nav-user-prompt-tab" data-bs-toggle="tab" data-bs-target="#nav-user-prompt" *ngIf="rfpAIPrompt.name != 'LLM_RECOGNITION_RULES'"
              type="button" role="tab" aria-controls="nav-user-prompt" aria-selected="true">
              User Prompt
            </button>
          </div>
        </nav>
        <form #savePromptData="ngForm">
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active mt-3" id="nav-prompt" role="tabpanel" aria-labelledby="nav-prompt-tab"
              tabindex="0">
              <div class="row">
                <div class="col-lg-9 col-xxl-9">
                  <div class="table-responsive table-top-rounded-radius border-top-0 border-bottom-0 px-0">
                    <table class="table table-bordered user-management mb-0">
                      <thead>
                        <tr>
                          <th scope="col">
                            <span class="text-uppercase">Prompts</span>
                          </th>
                          <th scope="col"></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let data of metaPrompt; let i=index">
                          <td>
                            <input type="text" name="metaprompt{{i}}" #metaprompt="ngModel" class="form-control py-2"
                              [(ngModel)]="data.name" required />
                            <small style="color:red" *ngIf="!metaprompt.value && (metaprompt?.dirty || metaprompt?.touched)">Please
                                enter prompt</small>
                          </td>
                          <td style="width: 50px">
                            <a class="cursor-pointer" (click)="removePrompt(i)"><img src="./assets/images/trash-02.svg"
                                alt="delete" /></a>
                          </td>
                        </tr>
                        <tr>
                          <td colspan="2">
                            <button class="btn btn-info shadow" (click)="addPrompts()">
                              <img src="./assets/images/plus.svg" alt="add" />
                              Add New
                            </button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade mt-3" id="nav-context" role="tabpanel" aria-labelledby="nav-context-tab"
              tabindex="1">
              <div class="row">
                <div class="col-lg-9 col-xxl-9">
                  <div class="table-responsive table-top-rounded-radius border-top-0 border-bottom-0 px-0">
                    <table class="table table-bordered user-management mb-0">
                      <thead>
                        <tr>
                          <th scope="col">
                            <span class="text-uppercase">Context</span>
                          </th>
                          <th scope="col"></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let data of contextDetails; let i=index">
                          <td>
                            <input type="text" name="context{{i}}" #context="ngModel" class="form-control py-2"
                              [(ngModel)]="data.name" required />
                            <small style="color:red" *ngIf="!context.value && (context?.dirty || context?.touched)">Please
                              enter context</small>
                          </td>
                          <td style="width: 50px">
                            <a class="cursor-pointer" (click)="removeContextDetails(i)"><img
                                src="./assets/images/trash-02.svg" alt="delete" /></a>
                          </td>
                        </tr>
                        <tr>
                          <td colspan="2">
                            <button class="btn btn-info shadow" (click)="addContextDetails()">
                              <img src="./assets/images/plus.svg" class="me-1" alt="add" />
                              Add New
                            </button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade mt-3" id="nav-response-format" role="tabpanel" aria-labelledby="nav-response-format-tab"
            tabindex="2">
            <div class="row">
              <div class="col-lg-9 col-xxl-9">
                <div class="table-responsive table-top-rounded-radius border-top-0 border-bottom-0 px-0">
                  <table class="table table-bordered user-management mb-0">
                    <thead>
                      <tr>
                        <th scope="col">
                          <span class="text-uppercase">Context Description</span>
                        </th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let data of responseFormatDetails; let i=index">
                        <td>
                          <input type="text" name="contextDescription{{i}}" #contextDescription="ngModel" class="form-control py-2"
                            [(ngModel)]="data.name" required />
                          <small style="color:red" *ngIf="!contextDescription.value && (contextDescription?.dirty || contextDescription?.touched)">Please
                              enter prompt</small>
                        </td>
                        <td style="width: 50px">
                          <a class="cursor-pointer" (click)="removeResponseFormatDetails(i)"><img src="./assets/images/trash-02.svg"
                              alt="delete" /></a>
                        </td>
                      </tr>
                      <tr>
                        <td colspan="2">
                          <button class="btn btn-info shadow" (click)="addResponseFormatDetails()">
                            <img src="./assets/images/plus.svg" alt="add" />
                            Add New
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

          <div class="tab-pane fade mt-3" id="nav-user-prompt" role="tabpanel" aria-labelledby="nav-user-prompt-tab"
          tabindex="3">
          <div class="row">
            <div class="col-lg-9 col-xxl-9">
              <div class="table-responsive table-top-rounded-radius border-top-0 border-bottom-0 px-0">
                <table class="table table-bordered user-management mb-0">
                  <thead>
                    <tr>
                      <th scope="col">
                        <span class="text-uppercase">User Prompt</span>
                      </th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let data of userPrompt; let i=index">
                      <td>
                        <input type="text" name="userPrompt{{i}}" #userPrompt="ngModel" class="form-control py-2"
                          [(ngModel)]="data.name" required />
                        <small style="color:red" *ngIf="!userPrompt.value && (userPrompt?.dirty || userPrompt?.touched)">Please
                            enter prompt</small>
                      </td>
                      <td style="width: 50px">
                        <a class="cursor-pointer" (click)="removeUserPrompt(i)"><img src="./assets/images/trash-02.svg"
                            alt="delete" /></a>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="2">
                        <button class="btn btn-info shadow" (click)="addUserPrompt()">
                          <img src="./assets/images/plus.svg" alt="add" />
                          Add New
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

          </div>
        </form>
        <div class="row mt-3">
          <div class="d-flex align-items-center justify-content-end">
            <button routerLink="/system-admin/configurations" class="cancel-btn me-3">
              Cancel
            </button>
            <button matRipple class="common-btn" [disabled]="isWait" (click)="submit()">
              <ng-container *ngIf="isWait">
                <span clas="indicator-progress" [style.display]="'block'">
                  Please wait...{{ " " }}
                  <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                </span>
              </ng-container>
              <ng-container *ngIf="!isWait && editMode === 'new'">Save</ng-container>
              <ng-container *ngIf="!isWait && editMode === 'edit'">Update</ng-container>
            </button>
          </div>
        </div>
      </div>
      <div class="center h-100" *ngIf="initialLoader">
        <app-page-loader class="v-center"></app-page-loader>
      </div>
    </div>
  </div>
</div>
