<div class="w-6">
  <div class="modal-body pb-3">
    <div class="row">
      <form #form="ngForm" novalidate>
        <div class="row mb-2">
          <div class="col-md-12 mb-2">
            <label class="form-label">Old Password</label>
            <div class="flex justify-content-center">
              <input class="form-control custom1-field" name="oldPassword" id="typeahead-http"
                placeholder="Old Password" [(ngModel)]="query.oldPassword" required />
            </div>
          </div>
          <div class="col-md-12">
            <label class="form-label">New Password</label>
            <div class="flex justify-content-center">
              <p-password class="w-100" appendTo="body" [(ngModel)]="query.newPassword" [toggleMask]="true"
                minlength="8" maxlength="20" pattern=".*[!@#$%^&*()_+{}\[\]:;<>,.?~\\/-].*" name="newPassword"
                #passwordInput="ngModel" required>
                <ng-template pTemplate="footer">
                  <p class="mt-2">Suggestions</p>
                  <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                    <li>At least one uppercase</li>
                    <li>At least one lowercase</li>
                    <li>At least special character</li>
                    <li>At least one numeric</li>
                    <li>Minimum 8 characters</li>
                    <li>Maximum 20 characters</li>
                  </ul>
                </ng-template>
              </p-password>
            </div>
            <div *ngIf="passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)">
              <div *ngIf="passwordInput.errors?.['maxlength']">
                Password must be at most 20 characters long.
              </div>
              <div *ngIf="passwordInput.errors?.['pattern']">Password must contain at least one special character.
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <div class="d-flex flex-grow-1 justify-content-end">
      <div class="d-flex">
        <button matRipple class="cancel-btn me-2" (click)="close()">
          Cancel
        </button>
        <button matRipple class="common-btn " [disabled]="isWait || form.invalid" (click)="submit()">
          <ng-container *ngIf="isWait">
            <span clas="indicator-progress" [style.display]="'block'">
              Please wait...{{ " " }}
              <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
            </span>
          </ng-container>
          <ng-container *ngIf="!isWait">Save</ng-container>
          <!-- <ng-container *ngIf="!isWait && editactivity">Update</ng-container> -->
        </button>
      </div>
    </div>
  </div>
</div>